*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brandColor: #fcb800;
  --secondColor: #fff500;
  --thirdColor: #7e0000;
  --whatsappLight: #25d366;
  --whatsappDark: #128c7e;
  --footerBg: #f2f2f2;
  --darkBlue:#253f4f;

  --facebook: #4169e1;
  --twitter: #00bfff;
  --youtube: #ff0000;
  --linkedin: #0077b5;
  --pintrest: #e60023;
  --instagram: #e95950;

  --searchBoxRadius: 2rem;
}
ul{
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  color: black;
  font-family:Calibri;
}

/* ====================================================================header css */

/* nav top css */
/* logoBox */
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
header .topNav {
  width: 100%;
}

header .logoBox {
  max-width: 250px;
}
header .logoBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* search Box */
header .searchBox {
  width: 100%;
}
header .searchBox input {
  border: 1px solid rgb(138, 138, 138);
  width: 100%;
  padding: 0.5rem 0.6rem;
  outline: none;
  border-radius: var(--searchBoxRadius) 0 0 var(--searchBoxRadius);
}
header .searchBox button {
  border-radius: 0 var(--searchBoxRadius) var(--searchBoxRadius) 0;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  color: white;
  border: 1px solid rgb(138, 138, 138);
  background-color: var(--brandColor);
  border-left: none;
}
/* freeSEOToolsContainer */
.freeSEOToolsContainer{
    display: flex;
    font-size: 0.9rem;
    align-items: center;
}
.freeSEOToolsContainer span{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.1rem;
    padding-right: 4px;
}
.freeSEOToolsContainer a{
  background-color: var(--brandColor);
  padding: 0.4rem;
  border-radius: 2rem;
  font-weight: 600;
  border: 2px solid var(--brandColor);
  transition: 300ms;
  text-align: center;
  border: 2px solid white;
  box-shadow: 2px 2px 5px black;
}
.freeSEOToolsContainer a:hover{
 opacity: 0.8;

}
/* callBox */
header .callBox {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .callBox a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
header .callBox a i {
  font-size: 2rem;
}
header .callBox .callBoxDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
header .callBox a .callBoxPhoneNumber {
  font-size: 1.3rem;
font-weight: 600;
line-height: 0.6;
}

.mobileNoInPhoneView{
    font-size: 0.8rem;
    font-weight: 600;
}
/* mobile Nav */
nav.mobileNav{
  display: none;
}
/* navbar / menubar css */
nav{
  background-color: var(--brandColor);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0.5rem 1rem;
}
nav .navLinksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.navLink{
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.4rem;
  border-radius: 0.2rem;
  transition: 200ms;
  font-size: 1.1rem;
}
.navLink:hover{
 opacity: 0.8;
 background-color: #e2a808;
}

/* normal Drop Down Menu */
.dropDownToggle{
  position: relative;
}
.dropDownToggle .dropMenuContainer{
position: absolute;
top: 110%;
left: 50%;
transform: translateX(-50%);
background-color: white;
padding: 1rem;
display: flex;
gap: 1rem;
width: 270px;
visibility: hidden;
opacity: 0;
transition: 300ms;
border-bottom: 2px solid var(--brandColor);
}
.dropDownToggle:hover .dropMenuContainer{
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.dropDownToggle .dropMenuContainer .dropMenu{
display: flex;
flex-direction: column;
}
.dropDownToggle .dropMenuContainer .dropMenu span{
text-transform: capitalize;
font-weight: 600;
font-size: 1.1rem;
}
.dropDownToggle .dropMenuContainer .dropMenu .dropDownLinks{
display: flex;
flex-direction: column;
}

.navLinksContainer li:hover a.navLink{
  background-color:#e2a808 ;
}

.dropMenu a:hover{
  color: var(--brandColor);

}
/* mega Drop Down */
.megaContainer{
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 600px;
  background-color: white;
  border-bottom: 2px solid var(--brandColor);
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}
/* mega left Box */
.megaContainer .megaBoxLeft,
.megaContainer .megaBoxMiddle
{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.megaContainer .megaBoxLeft .megaContentBox h5,
.megaContainer .megaBoxMiddle .megaContentBox h5
{
  font-size: 1.5rem;
  font-weight: 600;
 }
 .megaContainer h5 a:hover{
  color: var(--brandColor);
 }
 /* mega right Box */
.megaContainer .megaBoxRight{
  flex: 3;
}
.megaContainer .megaBoxRight h5{
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.megaContainer .megaBoxRight .megaBoxRightWrapper{
 display: flex;
 justify-content: space-between;
 gap: 1rem;
}
/* mega links */
.megaLinksBox{
  text-transform: capitalize;
}
.megaLinksBox a:hover{
  color: var(--brandColor);
}
/* PPCAdsMegaContainer and PodCastMegaContainer */
.PPCAdsMegaContainer .megaBoxLeft,
.PodCastMegaContainer .megaBoxLeft
{
  padding-left: 3rem;
}



.navLinksContainer li:hover .megaContainer,
.navLinksContainer li:hover .dropMenu
{
  visibility: visible;
  opacity: 1;
  top: 100%;
}


/* =========================================================heroSection css */

/* heroSectionSlideContainer */
.heroSectionSlideContainer {
  padding: 0;
}
.heroSectionSlideContainer .heroSlide {
  position: relative;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem a;
}
.heroSectionSlideContainer .heroSlide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.heroSectionSlideContainer .heroSlide .heroContentBox {
  display: flex;
  flex-direction: column;
  color: var(--brandColor);
  background-color: rgba(0, 0, 0, 0.815);
  text-align: center;
  border: 5px solid var(--brandColor);
  box-shadow: 2px 2px 5px var(--brandColor);
  padding: 0.5rem;
}
.heroSectionSlideContainer .heroSlide .heroContentBox h2 {
  font-size: max(5vw, 2rem);
}
.heroSectionSlideContainer .heroSlide .heroContentBox .contentKey {
  font-size: max(7vw, 3rem);
  font-weight: 900;
}
.heroSectionSlideContainer .heroSlide .heroContentBox span {
  text-transform: capitalize;
}
/* hero splider css */
.splide__pagination__page {
  background-color: var(--secondColor);
}
.splide__pagination__page.is-active {
  background-color: var(--brandColor);
  border: 1px solid white;
}
.splide__arrow {
  background-color: var(--brandColor);
}
.splide__arrow svg {
  fill: white;
}

/* ============================================================breadCrubmContainer css */
.breadCrubmContainer {
  display: flex;
  background-color: var(--footerBg);
  color: black;
  gap: 0.6rem;
  padding: 1rem 1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.breadCrubmContainer a:hover {
  color: var(--brandColor);
}

/* ================================================================product details */
.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.productContainer .productImgBox {
  flex: 1;
  max-height: 400px;
  min-width: 300px;
}
.productContainer .productImgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productContainer .productAllDetailsContianer {
  flex: 1;
}
.productContainer .productAllDetailsContianer .addToCartContianer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.productContainer
  .productAllDetailsContianer
  .addToCartContianer
  .QuantityBox
  button {
  border-radius: 0;
  font-size: 1.8rem;
  color: black;
  width: 40px;
  height: 40px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productContainer
  .productAllDetailsContianer
  .addToCartContianer
  .QuantityBox
  button:hover {
  color: white;
}
.productContainer
  .productAllDetailsContianer
  .addToCartButtonsContainer
  button {
  border-radius: 0;
}
.productContainer
  .productAllDetailsContianer
  .addToCartButtonsContainer
  button:first-child {
  background-color: black;
  color: white;
}
.productContainer
  .productAllDetailsContianer
  .compareAndWatchListContainer
  a:hover {
  color: var(--brandColor);
}
.productContainer .productAllDetailsContianer * {
  text-transform: capitalize;
}

.tabsContainer .tabGroup .tab {
  text-transform: capitalize;
  font-weight: bold;
  background-color: var(--brandColor);
  border: 2px solid transparent;
  color: black;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
}
.tabsContainer .tabGroup .tab:hover,
.tabsContainer .tabGroup .tab.active {
  background-color: transparent;
  border: 2px solid var(--brandColor);
}
.tabsContainer .tabsDataContiner div {
  display: none;
}
.tabsContainer .tabsDataContiner div.active {
  display: block;
}
/* product productSideBar */
.productSideBar .shippingInfoContianer {
  background-color: var(--footerBg);
}
.productSideBar .shippingInfoContianer .infoBox span {
  font-weight: 500;
}

/* ==============================================================services section  */
.serviceCard {
  border: 2px solid var(--brandColor);
  min-height: 400px;
  border-radius: 1rem;
  overflow: hidden;
}
.serviceCard .iconBox {
  font-size: 50px;
  font-weight: 600;
  color: white;
  background-color: var(--brandColor);
}
.serviceCard .iconBox h3{
 color: black;
 font-weight: bold;
}
.serviceCard .serviceButtonBox a i{
 font-size: 1.5rem;
}
.serviceCard .serviceContentBox p{
 font-size: 0.9rem;
}
.serviceCard .serviceButtonBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.serviceCard .serviceButtonBox a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.serviceCard .serviceButtonBox a:nth-child(1){
 background-color: var(--whatsappDark);
 color: white;

}
.serviceCard .serviceButtonBox a:nth-child(2){
 background-color:red;
 color: white;
}

/* ===========================================================Contact Form Css */
/* contactleft */
.contectSection .row .contactLeft{
  background-color: var(--brandColor);
  padding-left: max(10vw,2rem);
}
.contactLeft .formBannerSection h1{
  text-transform: capitalize;
  font-size: max(3vw,2rem);
}
.contactLeft .formBannerSection h1 span{
  font-weight: bold;
}
.contactForm input, 
.contactForm textarea,
.contactForm select
{
  width:100%;
  padding:0.5rem 1rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.contactForm input:focus,
.contactForm textarea:focus,
.contactForm select:focus
{
  outline: 3px solid var(--darkBlue);
}
/* contactRight */
.contactRight{
  background-color: var(--darkBlue);
  color: white;
  text-transform: capitalize;
  padding-right: max(10vw,2rem);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.contactRight:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f191fa2;
  z-index: -1;
}
.contactRight img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -2;
}
.contactRight h1{
  font-size:max(3vw,2.5rem);
  font-weight: 600;
}
.contactRight h3{
  font-size:max(2vw,1.5rem);
  font-weight: 600;
}
.contactRight .contactRightContent p{
font-size: 1.1rem;
line-height: 1;
}
.contactRight .contactRightContent span{
font-weight: 600;
font-size: 1.2rem;
line-height: 1;
}

.AboutInContactSection .contactContentBox {
  display: flex;
  align-items: center;
  padding: 0.6rem 0rem;
border-bottom: 1px solid white;
width: 100%;
gap: 1rem;
}
.AboutInContactSection .contactContentBox .iconBox i{
  font-size: max(2.5vw ,1.8rem);
}
.AboutInContactSection .contactContentBox .contentBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: max(2.8vw,1.2rem);
}
.AboutInContactSection .contactContentBox .contentBox span:nth-child(1){
font-weight: 600;
}


/* ============================================================contentHolderSection (directly in home page) */
.contentHolderSection{
  position: relative;
  z-index: 1;
}
.contentHolderSection::before{
  content: "";
  position: absolute;
  height: 50%;
  max-height: 600px;
  width: 100%;
  background-color: #D3FFD9;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 0% 100% 100% 0% / 0% 100% 0% 100% ;
}
.contentHolderSection  .content{
  border-bottom: 1px solid gray;
  padding: 1rem;
}
.contentHolderSection .content p{
 font-size: 1.2rem;
 text-align: justify;
}
.contentHolderSection .content p a{
font-weight: bold;
}
.contentHolderSection .content p a:hover{
  color: var(--brandColor);
}
/* ===========================================================awardSection */
.awardCard{
  display: flex;
  border: 2px solid var(--brandColor);
  border-radius: 0.6rem;
  padding: 1rem;
  box-shadow: 0px 0px 2px 2px var(--brandColor) inset;
}
.awardImgBox{
 max-width: 200px;
 min-width: 200px;
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 margin: 0 auto;
}
.awardImgBox img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.awardContentBox {
  border-left: 1px solid var(--brandColor);
  padding-left: 1rem;
}
.awardContentBox p{
text-transform: capitalize;
text-align: justify;
}
.awardContentBox h4{
text-transform: capitalize;
font-weight: bold;
font-size:1.5rem;
};

/* =============================================================seoToolsAndResult.php */
/* .seoResultSection{

}
.seoResultSection .splide__track .splide__list .splide__slide{
  min-height: 300px;
} */

.seoToolsSectionContainer{

}
.seoToolsSectionContainer .commonTitle,
.seoResultContainer .commonTitle
{
  background-color: var(--brandColor);
  padding: 0.5rem 1rem;
  text-align: center;
}


/* ===============================================================servicePerformCard */
.servicePerformCard{
  /* display: flex; */
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border:2px solid var(--brandColor);
  padding: 0.7rem;
  border-radius: 0.6rem;
  min-height: 500px;
}
.servicePerformCard .iconBox{
font-size: 3rem;
background-color: var(--brandColor);
color: white;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 0.6rem;
padding-block: 0.5rem;
}
.servicePerformCard .iconBox h3{
text-align: center;
font-weight: bold;
}
.servicePerformCard .contentBox p{
text-align: justify;
text-transform: capitalize;
}

/* ============================================================seoChecklistCard */
.seoChecklistCard{
  border-radius: 0.6rem;
  padding: 1rem;
}
.seoChecklistCard h2{
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 1rem;
}
/* ============================================================footer section css */
.footer {
  background-color: var(--footerBg);
  border-top: 2px solid var(--brandColor);
}
.footerContent .phoneNumber {
  color: blue;
  font-size: min(5vw, 1.5rem);
  font-weight: bold;
}
.footerContent p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.671);
}
.footerContent p strong {
  color: black;
}

.footerLinks li a:hover {
  color: var(--brandColor);
}
.footerLinks li {
  margin-bottom: 0.6rem;
  color: rgba(0, 0, 0, 0.671);
}
.footerImageBox {
  width: 100%;
}
.footerImageBox:nth-child(3) img {
  max-width: 200px;
}
.footerBottom {
  border-top: 2px solid rgb(224, 224, 224);
}
.footerBottomContent p a:hover {
  color: var(--brandColor);
}
.footerImageBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footerBottomImageBox img {
  max-width: 200px;
  object-fit: contain;
}



    /* mobileBottomLinks */
    .mobileBottomLinks{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.5rem;
      display: none;
      z-index: 999;
    }

    .mobileBottomLinks a{
      width: 100%;
      padding-block: 0.6rem;
      background-color: var(--whatsappLight);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
    .mobileBottomLinks a:nth-child(2){
      background-color: var(--youtube);
    }
    .mobileBottomLinks a:nth-child(3){
      background-color: var(--twitter);
    }
    .mobileBottomLinks a:nth-child(4){
      background-color: var(--linkedin);
    }





