header .logoBox{
    max-width: 160px;
}
.mobileBottomLinks{
    display: flex;
}
.desktopBottomLinks{
    display: none;
}
/* awards section */
.awardCard{
    flex-direction: column;
}

/* seo checklist */
.seoCheckList{flex-direction: column;}