
/* hero section css */
.heroSectionSlideContainer{
   height: 200px;
   }
   .heroSectionSlideContainer .heroSlide{
    min-height: 200px;
   }

   /* product section */
   /* tabs Container */
.tabsContainer .tabGroup{
    overflow-x: scroll;
}

/* make display none to desktop nav */
nav.desktopNav{
    display: none;
}

/* make display flex to mobile nav bar */
nav.mobileNav{
   display: flex;
   position: relative;
   justify-content: flex-start;
}

.mobileNavToggler{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.mobileNavToggler span{
    background-color: black;
    width: 90%;
    height: 4px;
    transform-origin: center;
    transition: 300ms;
}
.closeToggle{
    gap: 0;
}
.closeToggle span:nth-child(1){
  transform: rotate(45deg);
}
.closeToggle span:nth-child(2){
  transform: rotate(-45deg);
}
.closeToggle span:nth-child(3){
opacity: 0;
}


nav.mobileNav .mobileNavLinks{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: max(50%,300px);
    background-color: white;
    border-bottom: 2px solid var(--brandColor);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 1rem;
    transform: translateX(-100%);
    transition: 300ms;
    max-height: 70vh;
    overflow-y: scroll;
}
.showNav{
    transform: translateX(0%) !important;
}
nav.mobileNav .mobileNavLink{
color: black;
font-weight: 600;
text-transform: uppercase;
}

/* mobile normal DropDowns */
.mobileDropDownContainer{
    width: 100%;
}
.mobileDropToggle{
    width: 100%;
}
.mobileDropToggle label{
    color: black;
font-weight: 600;
text-transform: uppercase;
width: 100%;
}
.mobileDropToggle label:hover{
  background-color: var(--brandColor);
}



.mobileDropToggle .mobileDropBox{
display: flex;
flex-direction: column;
padding-left: 1rem;
max-height: 0px;
visibility: hidden;
opacity: 0;
transition: 300ms;

overflow-y: scroll;
}
.mobileDropToggle input{
    display: none;
}
.mobileDropToggle input:checked ~ .mobileDropBox{
    max-height: 200px;
 visibility: visible;
 opacity: 1;
}